{
  "parser"  : "babel-eslint",
  "extends" : ["airbnb"],
  "rules": {
    // Soft some rules.
    "comma-dangle": 0,
    "default-case": 0,
    "new-cap": [2, {"capIsNew": false, "newIsCap": true}],
    "no-confusing-arrow": 0,
    "no-console": 1,
    "no-floating-decimal": 0,
    "no-nested-ternary": 0,
    "no-param-reassign": 0,
    "no-shadow": 0,
    "no-unused-expressions": 0,
    "no-underscore-dangle": 0,
    "import/no-extraneous-dependencies": 0,
    "react/prefer-stateless-function": 0, // We are not there yet.
  },
  "globals": {
    "after": false,
    "afterEach": false,
    "before": false,
    "beforeEach": false,
    "describe": false,
    "it": false,
    "require": false
  }
}
