@import 'skeleton/normalize';
//sputniks palette
$red = #993333;
$light-red = lighten($red, 15%);
$light-gray = #ccc;
$dark-gray = #424242;
$near-black = #101010;
@import 'skeleton/skeleton';

// Global
body {
  color: $light-gray;
  background: lighten($near-black, 15%) no-repeat linear-gradient(top, 0% $near-black , 100% lighten($near-black, 15%));
  font-family: 'Lato', sans-serif;
}

::-webkit-input-placeholder {
  color: #777;
}


// Header
header {
  text-align: center;
  line-height: 1rem;
  margin-bottom: 20px;
}

.logo {
  color: $red;
  margin-bottom: 0;
  span {
    color: $light-gray;
  }
  strong {
    color: $light-red;
  }
}

.search-form {
  position: relative;
  input {
    position: relative;
    z-index: 10;
    &:focus {
      width: 70%;
    }
  }
  button {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    z-index: 0;
    width: 30%;
  }
  .auto-complete {
    position: absolute;
    top: 38px;
    width: 100%;
    li {
      color: black;
      list-style: none;
      margin: 0;
      padding: 10px;
      border-bottom: 1px solid $red;
      transition: all .2s;
      background-color: $light-gray;
      &:hover {
        color: black;
        background-color: $light-red;
      }
    }
  }
}

footer {
  text-align: center;
  line-height: 1rem;
  p {
    margin-bottom: 5px;
  }
}